@import "../variables";

main {
  background: linear-gradient(
    30deg,
    rgba(0, 57, 203, 1) 0%,
    rgba(158, 0, 255, 1) 100%
  );
  padding-top: 130px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    label {
      text-align: center;
    }

    input {
      margin: 20px 0 10px;
      display: block;
      background: #222222;
      border: 3px solid #ffffff;
      border-radius: 69px;
      padding: 10px;
      font-size: 20px;
      color: white;
      text-align: center;
    }

    p.not-found {
      color: transparent;
      font-size: 16px;
      margin-bottom: 15px;
    }

    button {
      background-color: $pink;
      border: none;
      border-radius: 30px;
      font-size: 22px;
      line-height: 45px;
      transition: 0.2s;
      margin: auto;
      display: inline-block;
      flex-shrink: 1;
      color: white;
      padding: 0 35px;
      cursor: pointer;

      &:hover {
        background-color: $dark-pink;
      }
    }
  }

  div.generator {
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.497);
    background-position: center;
    background-size: contain;
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;

    p.quote,
    p.author {
      width: 80%;
      text-align: center;
      text-shadow: 0 2px 1px rgba(0, 0, 0, 0.8);
    }

    p.quote {
      font-size: 30px;
      font-family: "roboto slab", serif;
    }
  }
}

@media screen and (width < 500px) {
  main {
    min-height: calc(100vh - 149px);

    div.generator {
      width: calc(100vw - 20px);
      height: calc(100vw - 20px);
      margin: 5px;

      p.quote {
        font-size: 6vw;
      }
      p.author {
        font-size: 5vw;
      }
    }
  }
}
