<header>
  <div class="wrapper">
    <div class="heading">
      <div class="title">
        <h1>Zrób pierwszy krok w kierunku swoich celów już dziś.</h1>
        <button class="main">
          <a routerLink="/generator" (click)="navigate.navigateTop()"
            >Generator</a
          >
        </button>
      </div>
      <img src="assets/boxer.png" alt="boxer" />
    </div>
  </div>

  <div class="triangle"></div>
</header>

<section id="start">
  <div class="wrapper">
    <div class="promoWrap">
      <p class="promo">
        Zmotywuj się i pozostań na dobrej drodze dzięki <b>JustDoApp</b>,
        ostatecznemu źródłu codziennej inspiracji i cytatów motywacyjnych.
        Niezależnie od tego, czy pracujesz nad wielkim celem, czy po prostu
        potrzebujesz dodatkowego impulsu, <b>JustDoApp</b> jest właśnie dla
        ciebie.
      </p>

      <div class="decorator">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>

    <div class="panels">
      <h2>Jak działa JustDoApp</h2>
      <div class="panel-wrap">
        <div class="article-wrap">
          <article>
            <img class="icon" src="assets/list-icon.svg" alt="list-icon" />
            <p>
              Aplikacja JustDoApp posiada szeroką gamę cytatów motywacyjnych
              przygotowanych specjalnie dla ciebie, abyś zawsze mógł znaleźć
              potrzebną insiprację.
            </p>
          </article>
        </div>
        <div class="article-wrap">
          <article>
            <img class="icon" src="assets/images-icon.svg" alt="images-icon" />
            <p>
              Generator posiada wewnętrzny zbiór obrazków które są wybierane
              losowo. Dzięki nim ulepszysz swoje doświadczenia i zyskasz cenną
              motywację.
            </p>
          </article>
        </div>
        <div class="article-wrap">
          <article>
            <img class="icon" src="assets/key-icon.svg" alt="key-icon" />
            <p>
              Znajdź tekst dostosowany do swoich potrzeb dzięki generatorowi
              opartemu na słowach kluczowych. Wystarczy wpisać słowo kluczowe i
              pozwolić aplikacji zrobić resztę.
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <p>Paweł Izdebski 2023 &copy;</p>
  <a href="https://github.com/zucek20/JustDoApp">GitHub</a>
</footer>
