<nav>
  <figure class="logo">
    <img src="../assets/logo.svg" alt="logo">
    <p>JustDoApp</p>
  </figure>

  <ul>
    <li><a (click)="navigateTop()" routerLink="/generator" routerLinkActive="active">Generator</a></li>
    <li><a (click)="navigateTop()" routerLink="/" routerLinkActive="active">Strona główna</a></li>
    <li><a (click)="navigateTop()" routerLink="/list" routerLinkActive="active">Spis cytatów</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer>
  <p>Paweł Izdebski 2023 &copy;</p>
  <a href="https://github.com/zucek20/JustDoApp">GitHub</a>
</footer>
