@import "../variables";

section#list {
  background: linear-gradient(
    30deg,
    rgba(0, 57, 203, 1) 0%,
    rgba(158, 0, 255, 1) 100%
  );
  background-attachment: fixed;
  padding: 100px 0;
  min-height: 100vh;

  div.wrapper {
    margin: 5px auto;

    .line {
      width: 90%;
      margin: auto;
      height: 2px;
      background-color: white;
      margin-bottom: 70px;
    }

    h2 {
      margin: 100px auto 35px;
    }

    blockquote.quote {
      background-color: #00000050;
      padding: 20px 25px;
      border-radius: 10px;
      margin: 20px 10px;
      line-height: 1.8rem;

      span.quote {
        color: $pink;
        font-size: 1.5rem;
        font-weight: bold;
        font-family: "im fell english";
        padding: 3px;
      }

      span.author {
        font-style: italic;
      }
    }
  }
}

@media screen and (width < 500px) {
  footer {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    a {
      display: block;
    }
  }
}
